<div class="layer-2"></div>
<div class="layer-2 two"></div>
<section id="about" class="wow bounceIn">
<h2 class="about">About ME</h2>

<p class="bio"><span class="bold">I’m  Omar  Ali,</span>  a 16 years old Egyptian student who studies in Mohamed 
    Zahran school (Hoping UWC) and quite interested in meeting other
people, cultures and ideas , A physics fanatic ,also I keen on designing including
: Graphic design , Web Design and UI/UX design , My greatest dream is to make this
wolrld closer to perfection , an “ideal city ” of Plato and a place where people live
in harmony and talk only one language : “The humanity”</p>


</section>